{% extends 'templates/app.twig' %}

{% block content %}
<div class="header-image">
    <div class="container">
        <h1 style="margin-top: 100px;">levacademic</h1>
        <h2>
            Publishing house offering bespoke 1:1 personal consultancy.
        </h2>
    </div>
</div>
{% endblock %}
