{% extends 'templates/app.twig' %}

{% block content %}
<div class="top-bar grad-blue-green"></div>
<div class="header-image">
    <div class="container">
        <h1 class="header-text"><img class="header-icon"src="{{ base_url() }}/assets/images/levDiamond.png">
            Lev Academic
        </h1>
        <div class="top-bar grad-blue-green"></div>
        <h2 class="subheader-text">
            Lev Academic offers bespoke publishing services for
            <span class="kalam bold font-blue">authors, publishers,</span> and
            <span class="kalam bold font-blue">societies</span> in the scholarly
            publishing world.
        </h2>
        <div class="top-bar grad-blue-green"></div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="font-black castoro text-center padding-40">
                    Are you an early career academic looking to publish your
                    first paper but not sure where to start?
                </h2>
                <p class="padding-20">
                    Are you new to the
                    world of academic publishing and want a no-nonsense
                    information and jargon busting introduction to the field?
                    We provide a thorough, practical and 100% impartial
                    introduction to the world of academic publishing.
                    <hr>
                </p>
                <p class="padding-20">
                    Also available as part of an individual consultancy package
                    or a group consultation. Please contact
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hello@levacademic.com">hello@levacademic.com</a>
                    for further information.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Authors-->
<div class="full-block bg-black" id="for-authors">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="title font-black text-right font-white">For <span class="kalam bold font-blue">authors</span></h2>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <!-- <h2 class="title font-black text-right">For authors</h2> -->
                <!-- <hr> -->
                <p class="padding-20 text-right">
                    At Lev Academic, we believe that there is no “one size fits
                    all” approach when choosing the right journals to submit
                    your work to. We believe that traditionally dominating
                    decision drivers such as the impact factor should only be
                    one element of the wider decision-making process. Instead,
                    we take a unique holistic approach, factoring in your niche,
                    needs and preferences to recommend the right journals for
                    you to work with.

                </p>
                <p class="padding-20 text-right">
                    With our Journal identification and submission preparation
                    consultancy package, we assess your current project,
                    provide personalised journal recommendations, and supply
                    you with all of the information and resources needed to
                    help you meet the technical criteria for submission.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 grad-blue-green quote-box">
                <h2 class="font-black quote margin-top-20">
                    "We believe that there is no “one size fits all” approach
                    when choosing the right journals to submit your work to."
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="full-block bg-black">
    <div class="container padding-40">
        <div class="row">
            <h2 class="how-works">How it works</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="font-white">
                    We will first ask you to complete a survey. A member of our
                    team will personally research and identify up to 5 academic
                    journals that best fulfil your criteria. We will then discuss
                    the journal recommendations and submission criteria during a
                    skype consultation.
                    <em>Consultation is also available via email or instant
                        messaging if this is your preference.</em>

                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="how-works">Looking for more?</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="font-white">
                    Full spectrum editorial services, including copy editing,
                    English language checks, and more are available on special
                    request. Please contact <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hello@levacademic.com">hello@levacademic.com</a>
                    for further information.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Something here-->
<div class="grad-blue-green" style="height:400px;">
    Something here
</div>


<!--For Publishers and Societies-->
<div class="full-block bg-black" id="for-publishers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2 class="title font-black text-right font-white">For <span class="kalam bold font-blue">Publishers and Societies</span></h2>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="font-black castoro">
                    Lev academic specialises in full spectrum journal management
                    and content support, including:
                </h2>
                <ul class="lev-list">
                    <li>Relationship Management</li>
                    <li>Journal Development</li>
                    <li>Editor recruitment</li>
                    <li>Market research</li>
                    <li>Journal promotion and auxiliary content support</li>
                    <li>Reporting and systems analysis</li>
                </ul>
                <hr>
                <h2 class="font-black castoro">Content Management</h2>
                <ul class="lev-list">
                    <li>Pre-acceptance administrative support, including editorial checks, journal inbox management, and peer review coordination.</li>
                    <li>Editor training on submission systems (ScholarOne and Editorial Manager)</li>
                    <li>Interpretation of similarity reports. </li>
                    <li>Post acceptance paper management, including pre-production checks and data input/ XML tagging on internal CRM systems.</li>
                    <li>Publication timeline management and Journal issue formation and delivery</li>
                </ul>
                <hr>
                <h2 class="font-black castoro">Ad Hoc Support</h2>

                <ul class="lev-list">
                    <li>Social media and marketing support</li>
                    <li>Website, blog, and editorial feature writing</li>
                    <li>Minute/note taking for meetings</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="full-block bg-black">
    <div class="container padding-40">
        <div class="row">
            <h2 class="how-works">How it works</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="font-white">
                    We will first ask you to complete a survey. A member of our
                    team will personally research and identify up to 5 academic
                    journals that best fulfil your criteria. We will then discuss
                    the journal recommendations and submission criteria during a
                    skype consultation.
                    <em>Consultation is also available via email or instant
                        messaging if this is your preference.</em>

                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="how-works">Looking for more?</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="font-white">
                    Full spectrum editorial services, including copy editing,
                    English language checks, and more are available on special
                    request. Please contact <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hello@levacademic.com">hello@levacademic.com</a>
                    for further information.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Testimonals-->
<div class="row">
    <div class="col-sm-4">
        <div class="testimonial-card">
            <div class="testimonial-text text-center">"Emma is pretty rad"<i class="fas fa-quote-right testimonial-quote"></i>
            </div>
            <div class="testimonial-footer">
                <div class="testimonial-image">
                </div>
                <h3 class="testimonial-person">Josh Lyell</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="testimonial-card">
            <div class="testimonial-text text-center">"Emma is pretty rad"<i class="fas fa-quote-right testimonial-quote"></i>
            </div>
            <div class="testimonial-footer">
                <div class="testimonial-image">
                </div>
                <h3 class="testimonial-person">Josh Lyell</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="testimonial-card">
            <div class="testimonial-text text-center">"Emma is pretty rad"<i class="fas fa-quote-right testimonial-quote"></i>
            </div>
            <div class="testimonial-footer">
                <div class="testimonial-image">
                </div>
                <h3 class="testimonial-person">Josh Lyell</h3>
            </div>
        </div>
    </div>
</div>



<!-- <div class="card-block block-spacing bg-black">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4 card grad-pink-purple-left">
                    Portfolio
                    <hr>
                    <p>We check your portfolio</p>
                </div>
                <div class="col-sm-4 card bg-blue">
                    Spell checking
                    <hr>
                    <p>Word 97 up in this mother</p>
                </div>
                <div class="col-sm-4 card grad-pink-purple-right">
                    Reference
                    <hr>
                    <p>Like being back at uni</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 card grad-pink-purple-left">
                    SMRT
                    <hr>
                    <p>We are very</p>
                </div>
                <div class="col-sm-4 card bg-blue">
                    Punctuation
                    <hr>
                    <p>Dot those sentence endings biatch</p>
                </div>
                <div class="col-sm-4 card grad-pink-purple-right">
                    Formatting
                    <hr>
                    <p>Make shit pretty</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="full-image">
</div>
<div class="full-block grad-pink-purple text-center block-spacing">
    <h1 class="font-black padding-top-100">"We care about your shit."</h1>
</div> -->
{% endblock %}
