.bg-blue {
    background-color: #75B9BE
}

.bg-green {
    background-color: #D0D6B5;
}

.bg-grey {
    background-color: #BFB6BB;
}

.bg-pink {
    background-color: #F9B5AC;
}

.bg-purple {
    background-color: #987284;
}

.bg-black {
    background-color: #2E2E2E;
}

.grad-blue-green {
    background-image: linear-gradient(to bottom right, #75B9BE, #D0D6B5);
}

.grad-pink-purple {
    background-image: linear-gradient(to bottom right, #F9B5AC, #987284);
}

.grad-pink-purple-left {
    background-image: linear-gradient(to left, #75B9BE, #D0D6B5);

    /* background-image: linear-gradient(to right, #987284 , #F9B5AC); */
}

.grad-pink-purple-right {
    background-image: linear-gradient(to right, #75B9BE, #D0D6B5);

    /* background-image: linear-gradient(to left, #987284, #F9B5AC); */
}

.font-blue {
    color: #75B9BE
}

.font-green {
    color: #D0D6B5;
}

.font-grey {
    color: #BFB6BB;
}

.font-pink {
    color: #F9B5AC;
}

.font-purple {
    color: #987284;
}

.font-black {
    color: #2E2E2E;
}
