.testimonial-card{
    min-height: 400px;
    width: 350px;
    background-color: white;
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
    display: flex;
    flex-flow: column;
    justify-content:space-between;
}

.testimonial-text{
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 18px;
    font-family: 'Castoro', san-serif;
}
.testimonial-image{
    background-color:tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background:no-repeat center/cover url(https://images.unsplash.com/photo-1563715992566-7ad5cf5b71d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    justify-content:center;
}

.testimonial-footer{
    background-image: linear-gradient(to bottom right, #75B9BE, #D0D6B5);
    height: 140px;
    position:relative;
}

.testimonial-quote{
  font-size: 400%;
  float: right;
  opacity: .1;
  transform: rotate(10deg) translate(-10px, -50px);
 color:#4D3FA3;
}

.testimonial-person{
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size:1.5rem;
  font-weight: 600;
}
