<div class="navigation">
    <ul class="navigation">
      <li><a href="{{ base_url() }}/">Home</a></li>
      <li><a href="#for-authors">For Authors</a></li>
      <li><a href="#for-publishers">For Publishers and Societies</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
</div>
